nav.container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: auto;
  height: 200px;
  gap: 50px;
  margin-top: 100px;
  font-family: Arial, Helvetica, sans-serif, Verdana;
  font-size: 12pt;
}

nav.div {
  display: block;
  width: fit-content;
  height: fit-content;
}

nav div:first-child {
  margin-right: auto;
  margin-top: -70px;

}

nav div:last-child {
  color: rgb(187, 14, 164);
}

.turinys {
  display: flex;
  flex-direction: row;
  margin-top: 1em;
  margin-left: 100px;
  align-content: space-between;
  column-gap: 15vw;
}

.turinys.div:first-child {
  width: 20vw;
  height: fit-content;
}

.turinys.div:nth-child(2) {
  width: 40vw;
  height: fit-content;
  align-self: center;
}

.launchas p {
  color: rgb(187, 14, 164);
  text-transform: uppercase;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10pt;
  margin-left: 100px;
  margin-top: 70px;
}

.turinys button.signup {
  display: inline-flexbox;
  border: double 5px transparent;
  border-image-slice: 1;
  /* border-color: transparent; */
  background-color: white;
  width: 150px;
  height: 60px;
  border-image-source: linear-gradient(45deg, rgb(187, 14, 164), red, orange, rgb(31, 161, 31));
  text-size-adjust: 14pt;
}

.reklaminisblokas {
  display: flex;
  width: 99vw;
  height: 150px;
  background: linear-gradient(45deg, rgba(187, 14, 164, 0.6), rgba(255, 0, 0, 0.6), rgba(255, 165, 0, 0.6), rgba(31, 161, 31, 0.6));
  border-radius: 5mm;
  flex-direction: column;
  align-items: baseline;
}

.reklaminisblokas div {
  display: inline-flexbox;
  width: 95vw;
  font-weight: bold;
  font-size: 18pt;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 70px;
  margin-left: 40px;
  }

section.grid-container {
  display: inline-grid;
  width: 95vw;
  grid-template-columns: repeat (5, auto [col-start]);
  grid-template-rows: repeat (1, auto [row-start]);
  margin-top: 50px;
  column-gap: 200px;
  grid-template-areas: "main main main main main";
}

.item1 {
  width: auto;
  height: 30px;
  grid-column-start: auto;
}

.item2 {
  width: auto;
  height: 30px;
  grid-column-start: auto;
}

.item3 {
  width: auto;
  height: 50px;
  grid-column-start: auto;
}

.item4 {
  width: auto;
  height: 30px;
  grid-column-start: auto;
}

.item5 {
  width: auto;
  height: 30px;
  grid-column-start: auto;
}

.container-auction {
  display: flex;
  margin-top: 50px;
  width: 99vw;
  height: 400px;
  border: transparent;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 60px;
}

.container-auction>div.item {
  width: 17.5vw;
  height: 25vw;
  border: transparent;
  border-radius: 5mm;
  background-color: beige;
}
footer div{
  margin-top:100px;
  display: flex;
  width:inherit;
  height:max-content;
  border: 2px black solid;
  flex-direction: column;
  row-gap: 40px;
  flex-wrap: nowrap;
  align-content: baseline;
  flex-flow: column;
  column-count: 5;
}
footer p{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}